<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Automatisierung_Frontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <h4 class="bi bi-house align-content-center" aria-hidden="true"></h4> &ensp; Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="available">
                <h4 class="bi bi-router align-content-center" aria-hidden="true"></h4> &ensp; Configure
            </NavLink>
        </div>
    </nav>
</div>

